source https://www.myget.org/F/aspnetrelease/api/v3/index.json
source https://www.myget.org/F/aspnetwebstacknightly/api/v3/index.json
source https://www.myget.org/F/docfx/api/v3/index.json
source https://www.myget.org/F/dotnet-coreclr/api/v3/index.json
source https://www.myget.org/F/npgsql/api/v3/index.json
source https://www.nuget.org/api/v2/
source https://www.myget.org/F/xunit/api/v3/index.json

nuget FSharp.Compiler.Service
nuget FSharp.Core 
nuget FSharp.Core.Fluent-4.0 
nuget Microsoft.VisualStudio.CoreUtility
nuget Microsoft.VisualStudio.Text.Data
nuget Microsoft.VisualStudio.Text.Logic
nuget Microsoft.VisualStudio.Text.UI
nuget Microsoft.VisualStudio.Text.UI.Wpf
nuget Microsoft.VSSDK.BuildTools
nuget FsEye

nuget Microsoft.FSharp.Compiler.SourceCodeServices
nuget Microsoft.FSharp.Compiler.Interactive.Shell